/* HEADER */
a {
  text-decoration: none; 
  color: inherit; 
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left:267px;
  padding-top: 49px;
}
.menu li {
margin-right: 32px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;

}
.menu .project {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
margin-right: 165px;
}
.menu li:last-child {
  margin-right: 0;
}
.line-1 {
  border: none;
  border-top: 2px solid #FFFFFF;
  margin: 2 32px;
  flex-grow: 1;
}
/* HERO */
.hero {
  background-image: url(assets/Desktop_Backgrounds_1920x1200_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
  height: 100vh;
  width: 1518px;
  margin-left:-8px;
  margin-right: -1px; 
  margin-top: -16px;

}
.logo-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding-top:203px;
}
.headline{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-top:13px;
}
.content{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:49px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/* MAIN */
.section-headline{
  display:flex;
  justify-content: center;
  margin-top:66px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.subtitle{
  display:flex;
  justify-content: center;
  margin-top: 39px;

  
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #666666;

}
.main-content{
  display: flex;
  justify-content: center;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;

}
.content-one{
  width: 408px;
  margin-right: 83px;
  height: 172px;
}
.content-two{
  width: 416px;
  margin-left:0;
  height: 172px;
}
/* LEARN MORE */
.read-more{
  border-radius: 18px;
  border: 0cm;
  background: #55C2D8;
  font-family: 'Oswald Regular';
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.read-more-button{
  display:flex;
  justify-content: center;
}
.learn-more{
  background-image: url(assets/IMG_1334_72dpi_RGB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
  height: 100vh;
  width: 1519px;
  margin-left:-8px;
  margin-top: 98px;
  overflow: hidden;

}
.lern-more-headline{
  display: flex;
  justify-content: center;
  margin-top: 80px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}
.button-wrap{
  background-color: rgb(0, 213, 255);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  left: 48%;
  overflow: hidden; 
}
.play-button {
  width: 150px; 
  height: 150px; 
  border: none;
  background-color: rgb(0, 213, 255);; 
  border-radius: 50%; 
}
.play-button::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 20px 0 20px 35px; 
  border-color: transparent transparent transparent white; 
  transform: translateX(15%); 
}
.learn-more-info{
  display: flex;
  justify-content: center;
  margin-top: 55.54px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
footer{
  display: flex;
  justify-content: center;
  background: #464547;
  height: 199px;
  width: 1521px;
  margin-left: -10px;
  margin-right: -10px;
}

.footer-block-1{
  width:360px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.small-logo1{
  width: 20px;
  height: 20px;
}
.small-logo{
  margin-top: 37px;
}
.footer-headline{
  margin-left: 36px;
  margin-top: -20px;
}
.footer-block-2{
  width: 462px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.address{
  margin-top: 39px;
  margin-bottom: 11px;
}
.footer-block-3{
  width:378px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.policy{
  margin-top:87px;
}


